/.venv
/data/interim/
/data/wind.arff
/data/raw/
/data/swdpf/T1H12
/data/swdpf/arff_folds
/data/swdpf/arff_scaled_folds
/data/processed/wtb_features.csv
/s2r_wind
s2rmslib\.venv
s2rmslib\evaluation_dataset
s2rmslib\training_dataset
evaluation_dataset
training_dataset